h8{font-style: initial; color:black; text-align: justify;font-size:25px;font-family:Courier}
ul{color: darkgreen;font-size:15px;text-align:left}
li {color:darkslateblue;font-size:17px;font-style: oblique;}
h4{color: darkblue; text-align: left;}
ol{font-size: large;text-align:left;color: red}

body{background:whitesmoke}